[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
tqdm = "*"
numpy = "*"
prettytable = "*"
celery = "*"
podman-compose = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.10"
